{% extends 'layout/_base.twig' %}

{% set pageClass = 'page-idx' %}
{% set pageTitle = 'IDX' %}

{% block content %}

  <!-- Slider -->
  {% for section in idx.sections|slice(0, 1) %}
    <section class="section idx-1 theme-section-accent">
      <div class="container container--mobile-fixed">
        <div class="section__content">
          <h2 class="section__title">{{ section.title }}</h2>
        </div>
        <div class="section__body section__body--center">
          <div class="section__content">
            <h3 class="section__subtitle">{{ section.subtitle }}</h3>
            <div class="section__text text-lg">
              <ul class="list-dot">
                {% for item in section.list %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="section__object">
            {% if section.video %}
              <div class="section__video {% if section.videoClass %}{{ section.videoClass }} {% endif %}">
                <video muted playsinline autoplay loop>
                  <source src="./assets/video/{{ section.video }}.mp4" type="video/mp4" />
                  <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/{{ section.video }}.mp4">link to the video</a> instead.</p>
                </video>
              </div>
            {% endif %}
            <div class="decor decor--2 decor-shape-6"></div>
          </div>
        </div>
      </div>

      <div class="decor decor--1 decor-dots-8 hidden-lg-down"></div>
    </section>
  {% endfor %}

  <div class="sections">
    {% for section in idx.sections|slice(1, 3) %}
      <section class="section {% if section.reversed %}section--reversed{% endif %}">
        <div class="container container--mobile-fixed">
          <div class="section__body section__body--center">
            <div class="section__content">
              <h3 class="section__subtitle text-accent-light">{{ section.subtitle }}</h3>
              <div class="section__text text-lg">
                <ul class="list-dot">
                  {% for item in section.list  %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="section__object">
              {% if section.video %}
                <div class="section__video {% if section.videoClass %} {{ section.videoClass }} {% endif %}">
                  <video muted playsinline autoplay loop>
                    <source src="./assets/video/{{ section.video }}.mp4" type="video/mp4" />
                    <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/{{ section.video }}.mp4">link to the video</a> instead.</p>
                  </video>
                </div>
              {% endif %}
              {% if section.objectDecor %}
                <div class="decor {{ section.objectDecor }}"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>

  <!-- Translations -->
  <section class="section translations bg-blue">
    <div class="container container--mobile-fixed">
      <div class="section__header intro intro--md text-center">
        <h2 class="intro__title">Xomio Listings Translation</h2>
        <div class="intro__description">
          <p>Xomio listings are translated using the Immobel translation engine: the world’s largest translation memory of real-estate-specific terms and phrases. Every translation has been provided and checked by industry experts. That’s why we’re trusted  by the biggest names in real estate.</p>
        </div>
      </div>

      <ul class="section__lang-list lang-list">
        {% for lang in idx.langs %}
          <li class="lang-list__item"><i class="lang-list__icon icon-lang"></i><span {% if lang.dir %}dir="{{ lang.dir }}"{% endif %}>{{ lang.name }}</span></li>
        {% endfor %}
      </ul>
    </div>

    <div class="decor decor--6 decor-lines-12 hidden-lg-down"></div>
    <div class="decor decor--7 decor-lines-6 hidden-lg-down"></div>
  </section>

  <!-- Contact us -->
  <section class="section contact-us" id="become-an-mls-partner">
    <div class="container container--mobile-fixed">
      <div class="section__body">
        <div class="section__content">
          <h2 class="section__title">Become an MLS <br>Partner!</h2>
          <div class="section__text">
            <p>The team behind Xomio have been working with MLS organizations across North America for 20 years.</p>
            <p>Our listings translation and web design services help your realtors deliver higher quality service to their markets.</p>
            <p>Get in touch with us today to find out about our partner programs, and get Xomio working for your members, and for your market.</p>
          </div>
        </div>

        {% include 'partials/_contact-message.twig' with { email: 'sales@immobel.com', dots: '6' } %}

        {# Previous form
        <div class="section__object">
          <form action="" method="POST" class="section__form form" novalidate="novalidate" data-parsley-validate>
            <fieldset class="form__fieldset">
              <legend class="form__legend h3">Tell us more about you.</legend>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="first-name">First name</label>
                    <div class="form__field">
                      <input type="text" id="first-name" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="last-name">Last name</label>
                    <div class="form__field">
                      <input type="text" id="last-name" class="form__input" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="company">Your company</label>
                    <div class="form__field">
                      <input type="text" id="company" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="role">Your role</label>
                    <div class="form__field">
                      <input type="text" id="role" class="form__input" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="email">Email</label>
                    <div class="form__field">
                      <input type="email" id="email" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group">
                    <label class="form__label" for="mls">Phone</label>
                    <div class="form__field">
                      <input type="text" id="phone" class="form__input" data-mask="phone" placeholder="+1 234 567 89 00">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form__group is-required">
                <label class="form__label" for="country">Country</label>
                <div class="form__field">
                  <select id="country" data-element="select-default" data-placeholder="Select your country" data-search-placeholder="Search country" required>
                    <!-- Empty option for placeholder -->
                    <option></option>
                    {% for country in countries %}
                      <option value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form__group is-required">
                <label class="form__label" for="message">How can we help?</label>
                <div class="form__field">
                  <textarea id="message" rows="4" class="form__input" placeholder="Enter text" required></textarea>
                </div>
              </div>
            </fieldset>

            <div class="form__submit">
              <input type="submit" class="button button--primary button--block" value="Send">
            </div>
          </form>
          <div class="section__form-bg decor-dots-bg-2"></div>
        </div>
        #}
      </div>
    </div>

    {#<div class="decor decor--8 decor-complex-8 hidden-lg-down"></div>#}
  </section>

{% endblock %}

{% block modals %}
{% endblock %}