{% extends 'layout/_base.twig' %}

{% block styles %}
  <link rel="stylesheet" href="./assets/css/home.css?12345696">
{% endblock %}

{% set pageClass = 'page-home' %}
{% set fullpage = true %}

{% block content %}
  <div data-page="fullpage">
    <div class="section home-1" data-fullpage="section">
      {% for slide in home|first.slides %}
        <div class="slide" data-fullpage="slide">
          <div class="container container--mobile-fixed">
            <div class="section__body section__body--center">
              <div class="section__content section__content--lg">
                <h2 class="section__title h1">{{ slide.title }} <span data-element="typewriter" data-word="{{ slide.type }}"></span></h2>
                <div class="section__text ">
                  <ul class="list-plus" data-component="accordion">
                    {% for item in slide.list %}
                      <li class="collapsible is-collapsed" data-element="accordion-item">
                        <div class="collapsible__toggle text-lg" data-element="accordion-toggle">{{ item.title }}</div>
                        <div class="collapsible__content" data-element="accordion-content">
                          <div class="collapsible__body">
                            {{ item.text }}
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="section__object section__object--md">
                {% if slide.video %}
                  <div class="section__video">
                    <video muted playsinline loop data-autoplay>
                      <source src="./assets/video/{{ slide.video }}" type="video/mp4" />
                      <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/{{ slide.video }}">link to the video</a> instead.</p>
                    </video>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="section__decor section__decor--1 decor-shape-4">
        <div class="section__decor section__decor--2 decor-lines-9"></div>
      </div>
      <div class="section__decor section__decor--3 hidden-lg-down decor-lines-1"></div>
      <div class="section__decor section__decor--4 hidden-lg-down decor-dots-1"></div>
    </div>

    <div class="section home-2" data-fullpage="section">
      <div class="container">
        <div class="intro text-center">
          <h2 class="intro__title">Whatever language or device your clients are using</h2>
          <h3 class="intro__subtitle font-cursive hidden-xs-down">If they’re <span class="text-primary">looking</span>, they’ll <span class="text-primary">find</span> you.</h3>
        </div>

        <div class="section__body section__body--center">
          <div class="section__content">
            <div class="section__lottie lottie hidden-md-down">
              <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_lxmkhrxf.json" data-player="lottie" background="transparent" speed="1" mode="normal" loop autoplay></lottie-player>
            </div>
            <div class="section__lottie lottie lottie--mobile hidden-lg-up">
              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_vgroulgj.json" data-player="lottie" background="transparent" speed="1" style="width: 100%; height: auto;" loop autoplay></lottie-player>
            </div>
          </div>

          <div class="section__object">
            {% for section in home|slice(1,1) %}
              <div class="screens row" data-slider="slideshow" data-autoplay-speed="4400" data-dots="true">
                {% for item in section.screens %}
                  <div class="screens__slide slick-slide col">
                    <img srcset="./assets/img/screens/{{ item }}.png 1x, ./assets/img/screens/{{ item }}@2x.png 2x" src="./assets/img/screens/{{ item }}.png" alt="" class="section__img">
                  </div>
                {% endfor %}
                <div class="screens__slide slick-slide col">
                  <div class="result-slide">
                    <div class="result-slide__body">
                      <div class="result-slide__title">Your site, in 19 languages, <br>indexed on all major search engines, accessible from any device.</div>
                      <div class="result-slide__subtitle font-cursive">If they’re <span class="text-primary looking-underline">looking</span>, they’ll <span class="text-primary find-underline">find</span> you.</div>
                    </div>
                    <div class="result-slide__decor result-slide__decor--1 hidden-lg-down decor-dots-7"></div>
                    <div class="result-slide__decor result-slide__decor--2 decor-shape-3"></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="section tags" data-fullpage="section">
      <div class="container">
        <div class="intro">
          <h2 class="intro__title">We know you want it</h2>
        </div>

        <div data-component="show-all">
          <ul class="tags__list" data-element="tags-list" data-show-all-content>
            {% for section in home|slice(2,1) %}
              {% for item in section.tags %}
                <li class="tags__item" data-element="tag-item">
                  <div class="tag tag-{{ item.theme }}" data-element="tag">
                    <a href="#" class="tag__link" data-element="tag-toggle"><i class="tag__link-icon icon-plus"></i> <span class="tag__link-text">{{ item.name }}</span></a>
                    <div class="tag__popover" data-element="tag-popover">
                      <div class="tag__popover-body">
                        <p class="tag__popover-text">{{ item.text }}</p>
                        {% if item.popup %}
                          <p class="tag__popover-action">
                            <a href="#" class="tag__popover-more more" data-element="tags-popup-trigger" data-id="{{ item.id }}">Learn more <i class="more__icon icon-arrow-right"></i></a>
                          </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>

          <div class="tags__action hidden-xl-up">
            <button class="tags__action-button button button--outline-primary" data-element="show-all-toggle" data-text-on="Show more" data-text-off="Show less">Show more</button>
          </div>
        </div>
      </div>
    </div>

    <div class="section home-4" data-fullpage="section">
      {% for section in home|slice(3,1) %}
        {% for slide in section.slides %}
          <div class="slide" data-fullpage="slide">
            <div class="container container--mobile-fixed">
              <div class="section__content">
                <h2 class="section__title">{{ slide.title }}</h2>
              </div>
              <div class="section__body section__body--center">
                <div class="section__content">
                  <h3 class="section__subtitle">{{ slide.subtitle }}</h3>
                  <div class="section__text ">
                    {% for text in slide.text %}
                      <p>{{ text }}</p>
                    {% endfor %}
                  </div>
                </div>

                <div class="section__object">
                  {% if slide.video %}
                    <div class="section__video {% if slide.videoClass %} {{ slide.videoClass }} {% else %} {% endif %}">
                      <video muted playsinline loop data-autoplay>
                        <source src="./assets/video/{{ slide.video }}" type="video/mp4" />
                        <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/{{ slide.video }}">link to the video</a> instead.</p>
                      </video>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
      <div class="section__decor decor-lines-9 hidden-lg-down"></div>
    </div>

    {#<div class="section test bg-blue bl5 section--scrollable" data-fullpage="section">
      <div class="container">
        <h2 class="test__title">Find the right fit for you</h2>
        <div class="test__start">
          <button class="test__button button button--primary button--huge gofirst" data-element="start-button">Start</button>
        </div>

        <div class="test-wrap">
          <div class="step-block " data-id="0" data-goto="11">
            <div class="vert-line"></div>
            <div class="step-label"><div>Welcome!</div></div>
          </div>
          <div class="step-block step-variants" data-id="11">
            <div class="vert-line"></div>
            <div class="step-label"><div>What best describes your business?</div></div>
            <div class="variants-wrap">
              <div class="variants">
                <div class="variant" data-id="1"><div class="text"><span>Agent</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="1" ><div class="text"><span>Team</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="1" ><div class="text"><span>Brokerage</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="1" ><div class="text"><span>MLS</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="1" ><div class="text"><span>Brand</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="7" ><div class="text"><span>Portal</span></div><div class="end"></div><div class="start"></div></div>
              </div>
              <div class="vars-line"></div>
              <div class="ans-line"></div>
            </div>
          </div>
          <div class="step-block step-dialog" data-id="1">
            <div class="vert-line"></div>
            <div class="step-label"><div>Do you already have a website?</div></div>
            <div class="ans yes" data-id="21">
              <div class="ans-wrap">
                <div class="ans-btn">
                  <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                  </svg>
                  <span>Yes</span>
                </div>
              </div>
            </div>
            <div class="ans no" data-id="2">
              <div class="ans-wrap">
                <div class="ans-btn">
                  <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                  </svg>
                  <span>No</span>
                </div>
              </div>
            </div>
          </div>

          <div class="step-block step-dialog" data-id="21">
            <div class="vert-line"></div>
            <div class="step-label"><div>Are you looking to replace your website?</div></div>
            <div class="ans yes" data-id="22">
              <div class="ans-wrap">
                <div class="ans-btn">
                  <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                  </svg>
                  <span>Yes</span>
                </div>
              </div>
            </div>
            <div class="ans no" data-id="23">
              <div class="ans-wrap">
                <div class="ans-btn">
                  <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                  </svg>
                  <span>No</span>
                </div>
              </div>
            </div>
          </div>
                
          <div class="step-block step-variants" data-id="23">
            <div class="vert-line"></div>
            <div class="step-label"><div>What are your plans?</div></div>
            <div class="variants-wrap">
              <div class="variants">
                <div class="variant" data-id="2"><div class="text"><span>I want to add GLEX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="2"><div class="text"><span>I want to add Mutli-Language IDX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
              </div>
              <div class="vars-line"></div>
              <div class="ans-line"></div>
            </div>
          </div>
                
          <div class="step-block step-variants" data-id="2">
            <div class="vert-line"></div>
            <div class="step-label"><div>Are you a member of our partner MLS organizations?</div></div>
            <div class="variants-wrap">
              <div class="variants">
                <div class="variant" data-id="6"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="6"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="6"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
              </div>
              <div class="vars-line"></div>
              <div class="ans-line"></div>
            </div>
          </div>
          <div class="step-block " data-id="71" data-goto="72">
            <div class="vert-line"></div>
            <div class="step-label bigtext"><div>
              <p>Coming soon!</p>
              Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
            </div></div>
          </div>
          <div class="step-block " data-id="6" data-goto="61">
            <div class="vert-line"></div>
            <div class="step-label bigtext"><div>
              <p>Coming soon!</p>
              Xomio for Teams is launching soon — be the first to find out when it’s available by signing up for updates.
            </div></div>
          </div>
          <div class="step-block " data-id="61" data-goto="5">
            <div class="vert-line"></div>
            <div class="step-label round"><div>violet.e.realtor@gmail.com</div></div>
          </div>
          <div class="step-block step-variants" data-id="4">
            <div class="vert-line"></div>
            <div class="step-label"><div>Are you member of our partner brands?</div></div>
            <div class="variants-wrap">
              <div class="variants">
                <div class="variant" data-id="5"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="5"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="5"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
                <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
              </div>
              <div class="vars-line"></div>
              <div class="ans-line"></div>
            </div>
          </div>
          <div class="step-block " data-id="72">
            <div class="vert-line"></div>
            <div class="step-label bigtext"><div>
              <p>Coming soon!</p>
              Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
            </div></div>
          </div>
          <div class="step-block step-final" data-id="5">
            <div class="vert-line"></div>
            <div class="test__start">
              <button class="test__button button button--primary button--huge">Go!</button>
            </div>
          </div>
        </div>
      </div>

      <div class="section__decor section__decor--1 decor-complex-1"></div>
      <div class="section__decor section__decor--2 decor-shape-5">
        <div class="section__decor section__decor--3 decor-dots-6"></div>
      </div>
    </div>#}

    {% include 'layout/_footer.twig' %}
  </div>

{% endblock %}

{% block modals %}
  {% include 'partials/_tags-popup.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
{% endblock %}