<div class="section__object">
  <div class="section__contact contact-message">
    <h3 class="contact-message__title">Tell us more about you.</h3>
    <p class="contact-message__description">Write us at this email: <a href="mailto:{{ email }}" class="link-primary">{{ email }}</a>, or just click on the button below!</p>
    <a href="mailto:{{ email }}" class="contact-message__button button button--primary button--block">Send a message</a>
  </div>

  <div class="contact-message__bg decor-dots-bg-{{ dots }}"></div>
</div>
