.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $navbar-z-index;
    transition: .25s ease-in-out;
    background-color: rgba($white, .0);
    box-shadow: 0 0 10px rgba($black-100, 0);

    &.is-scrolled {
        background-color: $white;
        box-shadow: 0 0 10px rgba($black-100, 0.1);
    }

    &__container {
        display: flex;
        align-items: center;
        height: rem($navbar-height-mobile);
    }

    &__logo {
        display: block;
        position: relative;
        z-index: 8;

        &-img {
            display: block;
        }
    }

    &__mobile-menu-toggle {
        margin-left: auto;
        z-index: 8;
    }

    &__body {
        display: flex;
    }

    &__account {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        height: rem(48px);
        flex: 1;
    }

    &__button + &__button {
        margin-left: rem($spacer-3);
    }

    &__decor {
        position: absolute;
        top: rem(188px);
        right: rem(-111px);
    }

    @include media-breakpoint-down(lg) {
        .menu-is-visible & {
            background-color: $white;
        }

        &__body {
            position: fixed;
            top: rem($navbar-height-mobile);
            right: 0;
            bottom: 0;
            transform: translateX(100%);
            width: 100%;
            max-width: rem(375px);
            min-height: calc(100vh - #{rem($navbar-height-mobile)});
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: rem($spacer-8 $spacer-4);
            z-index: $navbar-z-index;

            &.is-visible {
                transform: translateX(0);
                transition: transform .25s ease-in-out;
            }
        }
 
        &__lang {
            margin-bottom: rem($spacer-10);
            width: 100%;

            .dropdown {
                width: 100%;

                &__toggle {
                    border: $input-border-width solid $input-border-color;
                    border-radius: $input-border-radius;
                    @include font($font-size-h4, $line-height-h4, $headings-font-weight);
                    color: $blue-500;
                    padding: rem(( $spacer-2 - $input-border-width) ( $spacer-3 - $input-border-width) ( $spacer-2 - $input-border-width) ( $spacer-4 - $input-border-width));

                    &:before {
                        font-size: rem($spacer-6);
                        color: $primary;
                        margin-right: rem($spacer-2);
                    }

                    &:after {
                        font-size: rem($spacer-8);
                        color: $headings-color;
                        margin-left: auto;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        &__container {
            height: rem($navbar-height);
        }

        &__logo {
            margin-right: rem(44px);
        }

        &__mobile-menu-toggle {
            display: none;
        }

        &__body {
            align-items: center;
            flex: 1;
        }

        &__nav {
            //margin-right: auto;
            margin-left: auto;
        }

        &__lang {
            margin-left: rem($spacer-10);

            .dropdown {
                &__toggle {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        &__account {
            margin-top: 0;
            margin-left: rem($spacer-10);
        }

        &__button {
            height: rem($spacer-10);
            @include font($font-size-md, $line-height-sm - 1);
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-6);
        }

        &__decor {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) {
    .menu-is-visible {
        [data-tippy-root] {
            z-index: $navbar-z-index !important;
        }

        .tippy-box {
            max-width: none !important;
            width: rem(343px) !important;
        }
    }
}