.contact-message {
    position: relative;
    background-color: $white;
    box-shadow: 0 16px 24px rgba($black-400, 0.02), 0 16px 40px rgba($black-400, 0.02);
    border-radius: $border-radius-lg;
    padding: rem($spacer-8 $spacer-6);

    &__title {
        margin-bottom: rem($spacer-7);
    }

    &__button {
        margin-top: rem(70px);
    }

    &__bg {
        top: 0;
        left: 0;
        right: 0;
    }

    @include media-breakpoint-up(xl) {
        padding: rem(48px $spacer-10);
    }
}
